.stButton>button  {
    color: #4F8BF9;
    border: 4px solid green;
    background-color: black;
   margin-top: 5%;
   margin-left: 25%;
}


.css-1v3fvcr{
    background-color: black;
}

.css-1jkb0cp{
    visibility: hidden;
}

.css-9s5bis{
    background-color: red;
    border: 3px solid green;
    padding: 20px;
    position: relative;
}

.css-1rh8hwn{
    color: aliceblue;
}

.css-1ht1j8u{
    color: aliceblue;
}

.css-nlntq9{
    color: aliceblue;
}

.css-10trblm{
    align-items: center;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.st-bw{
    background-color: #00ff4f54;
}
.css-9s5bis{
    border: 3px solid green;
    background: black;
    color: aliceblue;
}

.css-1adrfps{
    background-color: black
}

.css-1adrfps{
    background-color: rgb(38, 39, 48);
}

.container-xxl.d-flex.flex-column.flex-shrink-0.p-3 {
    background-color: black;
}

button.css-9s5bis.edgvbvh3{
    margin: 25px;
}


